* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/codes.gif);
    background-size: 100%;
    width: 10%;
}



.container {
    padding-top: 3%;
    background-color: rgb(26, 26, 30);
    width: 35%;
    justify-content: center;
    display: flex;
    height: 180vh;
    position: absolute;
    border: 1px solid rgb(41, 41, 41);
}

.form {
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 24px;
    padding-top: 20px;
    display: flex;
    justify-content: left;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #C4C4CC;
}


label {
    color: #C4C4CC;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: left;
    margin-left: 20px;
}
.logo span {
    text-decoration: none;
    color: #742fce;
    font-size: 42px;
    font-weight: 700;
    font-family: "Indie Flower", cursive;
}


.form input {
    width: 350px;
    height: 50px;
    background-color: rgb(18, 18, 20);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    border: 1px solid rgb(46, 46, 46);
}

::placeholder {
    padding: 5px;
    font-size: 16px;
    background-color: (196, 196, 204);
}

a {
    display: flex;
    justify-content: left;
    text-decoration: none;
    color: #B585FB;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: #c0addd;
    transition-duration: 5ms;
}

#experiencia {
    width: 80%;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.8;
    background-color: rgb(18, 18, 20);
    color: white;
}

p {
    text-align: center;
    color: #959595;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #742fce;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}


button:hover {
    background-color: black;
    color: white;
    border: 1px solid #742fce;
    transition-duration: 1.5s;
}